.form_control{
    display: flex;
    flex-direction: column;
}

.form_control label{
    margin-bottom: 5px;
}

.form_control select{
    border-radius: 5px;
    border: 4px;
    padding: 10px;
    margin-bottom: 10px;
}