.newproject_container{
    width: 450px;
    margin: 0 auto;
    padding: 3em;
}

.newproject_container h1{
    font-size: 2.5em;
    margin-bottom: 20px;
}

.newproject_container p{
    color: #7b7b7b;
}